:root {
    --bg-main: #1b1b1d;
    --bg-secondary: #2f2f31;
    --text-main: #7a2fd6;
    --text-accent: #ffffff;
    --subtitle-text: #e6e6e6;
    --bottom-gradient: linear-gradient(45deg, rgba(166, 39, 156, 0.25), rgba(49, 32, 233, 0.25));
}


.darkContainer {
    min-height: 100vh;
    box-sizing: border-box;
    background: linear-gradient(135deg, var(--bg-main), var(--bg-secondary));
    font-family: "Aktiv Grotesk", sans-serif;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;

}

.header {
    display: flex;
    width: 50%;
    margin-inline-start: 4rem;
    gap: 35px;
    height: 200px;
    flex-direction: row;
    align-items: center;
}

.darkModeImage {
    height: 100px;
}

.homeButton {
    font-family: "Aktiv Grotesk", sans-serif;
    background: transparent;
    border: none;
    height: 50px;
    font-size: 1.75rem;
    color: var(--text-accent);
    cursor: pointer;
}

.content {
    display: flex;
    width: 100%;
    position: relative;
    z-index: 2;
    flex: 1;
    justify-content: flex-end;
}

:root[dir="rtl"] .content {
    justify-content: flex-start;

}

.form {
    display: flex;
    background-color: white;
    border-radius: 35px;
    flex-direction: column;
    gap: 20px;
    padding-top: 30px;
    width: 430px;
    height: 550px;
}


.outterContainer {
    position: relative;
    border-radius: 35px;
    height: 500px;
    width: 430px;
    margin-inline-start: 4%;
    margin-inline-end: 4%;
    background: linear-gradient(-90deg, rgba(166, 39, 156, 0.95), rgba(49, 32, 169, 0.95));
    padding: 20px 0 0 0;
}

.formHeader {
    display: flex;
    flex-direction: column;
}

.titleOne {
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.90);
    margin: 40px 0 0 0;
    margin-inline-start: 40px;
    direction: ltr;
    text-align: left;
    unicode-bidi: isolate;

}

.titleTwo {
    margin: 6px 0 0 0;
    margin-inline-start: 40px;
    font-size: clamp(2rem, 7vw, 3rem);
    font-weight: 800;
    letter-spacing: 4px;
    background: #662d91;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    direction: ltr;
   
    text-align: left;

    unicode-bidi: isolate;
}

.helpTextOne {
    margin: 0 40px;
    font-size: 0.9rem;


    font-style: italic;
    color: rgba(0, 0, 0, 0.45);
}

.helpTextTwo {
    margin: 0 40px;
    font-size: 0.9rem;
    margin-left: auto;
    font-style: italic;
    color: rgba(0, 0, 0, 0.45);
}

button {
    font-weight: bold;
}

.helpTextOne a,
.helpTextTwo a {
    color: rgba(0, 0, 0, 0.45);

}

.input {
    margin: 0 40px;
    padding: 12px 16px;
    border-radius: 35px;
    background-color: rgba(230, 230, 230, 0.5);
    border: 1px solid rgba(204, 204, 204, 0.5);
    font-size: 1rem;
}

.sideTabs {
    position: absolute;
    top: 100px;
    left: -35px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.tabButton {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    padding: 18px 10px;
    border: none;
    width: 100%;
    color: white;
    border-radius: 0 15px 15px 0;
    height: 110px;
    cursor: pointer;
    background-color: var(--text-main);

}


.activeTab {
    background-color: white;
    color: var(--text-main);
}

.submitButton {
    margin: 0 40px 40px;
    padding: 12px 16px;
    width: 40%;
    height: 55px;
    border-radius: 35px;
    margin: 10% auto 0 auto;
    border: none;
    background: linear-gradient(-60deg, rgba(166, 39, 156, 0.85), rgba(49, 32, 169, 0.85));
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

.copyright {
    text-align: center;
    padding: 20px 0;
    color: rgba(0, 0, 0, 0.45);
    font-size: 0.7rem;
}

.rememberMeLabel {
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.45);
}




.rememberMe {
    display: flex;
    width: 100%;
    width: calc(100% - 60px);
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    margin: 0 40px;

}

.rememberLeft {
    display: flex;
    align-items: center;
    gap: 8px;
}

:root[dir="rtl"] .rememberMe {

    flex-direction: row-reverse;
    transform: translateX(20px);
}






.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 35vh;
    z-index: 0;
    background: var(--bottom-gradient);
}