/*For the drop down menu language*/
.langWrapper {
  position: relative;
}

.langButton {
  display: flex;
  align-items: center;
  gap: 8px;

  background: transparent;
  border: none;
  color: var(--text-accent);
  font-size: 1.5rem;
  cursor: pointer;
}

.caret {
  font-size: 0.8rem;
}

.langDropdown {
  position: absolute;
  top: 100%;
  right: 0;

  margin-top: 8px;
  min-width: 120px;

  background: var(--bg-secondary);
  border-radius: 8px;
  overflow: hidden;

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

.langDropdown button {
  width: 100%;
  padding: 10px 14px;

  background: transparent;
  border: none;
  color: var(--text-accent);
  text-align: left;
  cursor: pointer;
}

.langDropdown button:hover {
  background: rgba(255, 255, 255, 0.08);
}